---
title: Des mains et des mots
showName: true
description: Céline LEROY - DE SOYRES, Kinésiologue à Nantes et Vertou. Sophrologue à Nantes, Vertou et Haute-Goulaine. Praticienne en kinésiologie, sophrologie et massage Amma assis. Nantes, Région Nantaise, Vignoble Nantais, Haute-Goulaine, proche de Basse-Goulaine et Saint-Sébastien (44).
---

<!doctype html>
<html lang="fr">
<head>
  {% if showName %}
    {% set fullTitle = title + "-" + name %}
  {% else %}
    {% set fullTitle = title + " - Céline LEROY DE SOYRES - Kinésiologue" %}
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ description }}"/>
  <meta name="robots" content="index, follow"/>
  <meta name="googlebot" content="index, follow"/>
  <meta name="bingbot" content="index, follow"/>
  <meta http-equiv="Content-Language" content="fr" />

  <meta property="og:title" content="{{ fullTitle }}"/>
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:image" content="{{ site.url }}/img/index-2.jpg"/>

  <title>{{ fullTitle }}</title>

  <style>
      .no-js {
          visibility: visible;
      }
  </style>

  <!-- Fonts. load fonts as soon as possible -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway:ital,wght@0,300;0,400;1,400&family=Shadows+Into+Light+Two&display=swap"
      rel="stylesheet">

  <!-- Styles -->
  {% set css %}
    {% include "../css/reset.css" %}
    {% include "../css/var.css" %}
    {% include "../css/header.css" %}
    {% include "../css/main.css" %}
    {% include "../css/nav.css" %}
  {% endset %}
  <style>
      {{ css | cssmin | safe }}
  </style>

  <!-- Favicons-->
  {% favicon 'src/img/favicon.png' %}

  <!-- Scripts -->
  {% set js %}
    {% include "../script/menu.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</head>
<body class="no-js">
  <script>
    document.querySelector('body').classList.remove('no-js');
  </script>

  <header>
    <div id="logo">
      <a href="/" tabindex="0"><img src="/img/logo-400.png" width="400" height="106" alt="Logo"></a>
    </div>

    <nav>
      <button onclick="onMenuButtonClick('menu', event)"
              aria-haspopup="true"
              aria-label="Open or close menu"
              aria-expanded="false"
              tabindex="1">
        <svg viewBox="0 0 20 20" aria-label="Menu icon">
          <path d="M1,6h18c0.55,0,1-0.45,1-1c0-0.55-0.45-1-1-1H1C0.45,4,0,4.45,0,5
              C0,5.55,0.45,6,1,6z M19,9H1c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1h18c0.55,0,1-0.45,1-1C20,9.45,19.55,9,19,9z M19,14H1
              c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1h18c0.55,0,1-0.45,1-1C20,14.45,19.55,14,19,14z"/>
        </svg>
      </button>

      <ul id="menu" role="menu" aria-hidden="true">
        {% for p in collections.pages | sort(false, false, 'data.order') %}
        <li {% if page.url== p.url %} aria-current="page" {% endif %}>
          <a href="{{p.url}}">{{ p.data.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="header_absolute">
      <a class="icon_link"
         href="https://www.facebook.com/people/Des-Mains-et-des-Mots-C%C3%A9line-Leroy-de-Soyres-Kin%C3%A9siologie-et-Sophrologie/100079081596454/"
         target="_blank">
        <svg x="0px" y="0px" viewBox="0 0 24 24" aria-label="Facebook" role="img">
          <path d="M13 19.938A8.001 8.001 0 0 0 12 4a8 8 0 0 0-1 15.938V14H9v-2h2v-1.654c0-1.337.14-1.822.4-2.311A2.726 2.726 0 0 1 12.536 6.9c.382-.205.857-.328 1.687-.381.329-.021.755.005 1.278.08v1.9H15c-.917 0-1.296.043-1.522.164a.727.727 0 0 0-.314.314c-.12.226-.164.45-.164 1.368V12h2.5l-.5 2h-2v5.938zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"/>
        </svg>
      </a>

      <a class="icon_link" href="tel:0665595890" aria-label="Téléphoner au 06 65 59 58 90">
        <svg viewBox="0 0 20 20">
          <path d="M15,0H5C4.45,0,4,0.45,4,1v18c0,0.55,0.45,1,1,1h10c0.55,0,1-0.45,1-1V1 C16,0.45,15.55,0,15,0z M10,19c-0.55,0-1-0.45-1-1c0-0.55,0.45-1,1-1s1,0.45,1,1C11,18.55,10.55,19,10,19z M14,16H6V3h8V16z"/>
        </svg>
        06.65.59.58.90
      </a>
    </div>
  </header>

  <main>
    {% if showName %}<h1>{{ name }}</h1>{% endif %}

    {{ content | safe }}
  </main>

  <footer>
    Copyright &copy;2023 Des mains et des mots&nbsp;&nbsp;&nbsp;<a href="/mentions">Mentions légales</a>
  </footer>
</body>
</html>
