header {
    position: fixed;

    padding: var(--header-padding);
    margin-bottom: var(--header-shadow-size);

    width: calc(100% - var(--header-padding) * 2);
    height: var(--header-height);

    background: var(--blue);
    box-shadow: 0 0 var(--header-shadow-size) calc(var(--header-shadow-size) - 1px) var(--blue-medium);

    display: grid;
    grid-template-columns: minmax(100px, 400px) 1fr;
}


header > #logo {
    display: flex;
    align-items: center;
}

header > #logo img {
    width: 100%;
    height: auto;
    aspect-ratio: calc(400 / 106);
}

header > .phone {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
}
