---
layout: main.html
name: Enfants
tags: pages
order: 3
---

<section>
  <div class="image">
    <img src="/img/logo-rmmh.png" alt="Logo de « Raconte-moi mon histoire »"/>
  </div>

  <h2>Consultante en émotions</h2>

  <div class="content">
    <p>
      Troubles du sommeil, peurs inexpliquées, anxiété, énurésie, comportements inadaptés, communication difficile,
      difficultés à se séparer ... et si c'était émotionnel&nbsp;?
    </p>
    <p>
      Au fil de ma formation et de ma pratique, j'ai affiné mon accompagnement des émotions chez les enfants, et me suis
      formée auprès d'<a href="https://audrey-mee-kinesiologue.com/la-methode-raconte-moi-mon-histoire/" target="_blank">Audrey Mée, conceptrice de la méthode « Raconte-moi mon Histoire »</a>.
    </p>
    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>

<section>
  <h2>Raconte-moi mon Histoire</h2>

  <div class="content">
    <p>
      Cette méthode permet de libérer les émotions bloquées depuis la vie intra-utérine, la naissance ou les premiers mois de la vie de l'enfant.
      Nous remontons même 9 mois avant la conception, car ce qui se vit à cette période peut aussi avoir un impact sur le bébé à venir.
    </p>
    <p>
      La méthode « Raconte-moi mon Histoire » est une approche ludique et concrète.
      Elle permet de raconter l'histoire de l'enfant depuis les 9 mois avant sa conception à l'aide de peluches, jouets, objets.
      Une manière de libérer les émotions de l'enfant, mais aussi des parents.
    </p>
    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>

  <div class="image">
    <img src="/img/enfants-1.png" alt="Bébé dans les bras de ses parents qui l'embrassent tendrement"/>
  </div>
</section>

<section>
  <div class="image">
    <img src="/img/enfants-2.png" alt="Enfant en colère entre ses deux parents bienveillants, assis sur un canapé, face à une praticienne en kinésiologie"/>
  </div>

  <h2>Comment se déroule la séance ?</h2>

  <div class="content">
    <p>
      Nous abordons toutes les étapes depuis les 9 mois avant la conception jusqu'à aujourd'hui.
      De cette manière l'enfant entend <strong>LA</strong> vérité sur son histoire.
      En effet, il peut avoir mis en place très tôt des pensées limitantes occasionnant des peurs, de la colère ou des comportements inadaptés.
    </p>
    <p>
      Tout est symbolisé par des objets afin de permettre à l'enfant de comprendre ce qu'il a vécu.
      L'enfant est dans la bulle énergétique et émotionnelle de ses parents jusqu'à 7 ans environ. Il ressent les émotions de ses parents et peut prendre un rôle qui n'est pas le sien.
    </p>
    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>

<section>
  <h2>Pour qui ?</h2>

  <div class="content">
    <p>
      Les bébés, les enfants, les adolescents et adolescentes, les femmes enceintes.
    </p>

    <p>
      <strong>Exemples :</strong>
    </p>

    <p>
      <ul>
        <li>Maman a eu peur de faire une fausse couche, alors je vais me réveiller tout le temps pour lui prouver que je suis bien vivant.</li>
        <li>Maman était rassurée quand je bougeais dans son ventre, alors je vais toujours être actif, jamais calme.</li>
        <li>Papa a peur de la mort subite du nourrisson, alors je reste dans ses bras pour lui montrer que je suis en vie.</li>
        <li>Papa ou maman ont ressenti de la colère ou de la tristesse et n'ont pas pu l'exprimer, alors je l'exprime pour eux ...</li>
      </ul>
    </p>

    <p>
      <strong>Résultats des séances :</strong>
    </p>

    <p>
      Suite à la méthode « Raconte-moi mon histoire », on observe des enfants :
    </p>
    <p>
      <ul>
        <li>Qui font leurs nuits, car ils ont compris qu'ils n'étaient pas là pour rassurer leurs parents.</li>
        <li>Sereins, car ils n'ont plus peur de mourir, d'être séparés de leurs parents.</li>
        <li>Qui sont rassurés, car ils ont compris que c'était aux adultes de prendre soin d'eux et non l'inverse.</li>
        <li>Libérés de la colère, de la tristesse et de la frustration.</li>
        <li>Soulagés des émotions/vécus/expériences qui ne leur appartiennent pas.</li>
      </ul>
    </p>


    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>

  <div class="image">
    <img src="/img/enfants-3.png" alt="Jeune fille souriante, écartant les bras, allongée sur une moquette beige à poil long. Au dessus et autour d'elle, sont disposés plusieurs doudous."/>
  </div>
</section>
