---
layout: main.html
name: Kinésiologie
tags: pages
order: 1
---

<section>
  <div class="image">
    <img src="/img/kinesiologie-1.jpg" width="100%" alt="Pile de cailloux sur fond vert"/>
  </div>

  <h2>Qu'est-ce que la kinésiologie ?</h2>

  <div class="content">
    <p>
      La Kinésiologie, étymologiquement « la science du mouvement » est une méthode de rééquilibrage
      psycho-corporelle. Elle s'attache au bien-être global de la personne en tenant compte des aspects physique,
      énergétique, émotionnel et mental.
    </p>
    <p>
      Sa principale caractéristique est l'utilisation du test musculaire pour détecter les déséquilibres.
    </p>
    <p>
      Le test musculaire utilisé en kinésiologie consiste à établir un dialogue direct avec le corps. Il permet
      d'accéder à la mémoire du corps, d'identifier les facteurs contribuant aux blocages et la nature des corrections
      nécessaires pour les lever. Il permet d'établir le lien entre les émotions, le cerveau et les muscles.
    </p>

    <p>
      La kinésiologie a pour objectif de réduire le stress afin de redonner à chacun la possibilité de recontacter
      son potentiel, sa capacité de choisir et d'accéder à ses propres solutions.
    </p>

    <p>
      Le kinésiologue est un « professionnel de la gestion du stress et de la prévention en matière de
      santé »
    </p>

    <p>
      Le rééquilibrage énergétique de la kinésiologie s'inspire de méthodes empruntées à l'occident (chiropractie) et
      l'orient (médecine traditionnelle chinoise).
    </p>

    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>
<section>
<!--  <div class="image">-->
<!--    <img src="/img/kinesiologie-2.jpg" width="100%" alt="Pile de cailloux sur fond vert"/>-->
<!--  </div>-->

  <h2>Les bienfaits de la kinésiologie</h2>

  <div class="content">
    <p>
      La kinésiologie s'adresse à tout le monde et à tout âge. Elle peut agir dans tous les domaines du quotidien :
    </p>

    <p>
      <strong>Domaine personnel</strong> : mieux gérer son stress, ses émotions, mieux comprendre et communiquer avec
      ses enfants, son bébé, améliorer son sommeil, retrouver de l'énergie, soulager des douleurs, se libérer de
      phobies, blocages, gagner en confiance en soi, en sérénité ...
    </p>

    <p>
      <strong>Domaine professionnel</strong> : Retrouver sa motivation, améliorer ses capacités relationnelles,
      atteindre ses objectifs, améliorer ses relations professionnelles ...
    </p>

    <p>
      <strong>Domaine scolaire</strong> : améliorer ses capacités d'apprentissage, sa concentration, sa mémorisation,
      gagner en confiance en soi, être serein face à un examen ...
    </p>

    <p>
      D'une manière générale, la kinésiologie permet de diminuer le stress, d'améliorer les capacités
      relationnelles, la communication, la confiance en soi, la motivation, et elle facilite les choix, les prises de
      décision.
    </p>

    <p>
      Elle aide à comprendre la cause d'un mal-être, à trouver des réponses, des solutions et atteindre ses
      objectifs.
    </p>

    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>
<section>
  <div class="image">
    <img src="/img/kinesiologie-3.jpg" width="100%" alt="Pile de cailloux sur fond vert"/>
  </div>
  <h2>Les techniques de kinésiologie</h2>
  <div class="content">
    <p>
      Fondée dans les années 60 aux USA et apparue en France dans les années 80, elle réunit, à l'origine, trois
      principales techniques : le Touch For Health®, le Three In One Concepts® et le Brain Gym®.
    </p>

    <h3>Le Touch For Health® (la Santé par le Toucher)</h3>
    <p>
      Initiée aux USA dans les années 60 par le Dr. Georges Goodheart, chiropracteur, la « Kinésiologie Appliquée »
      regroupe des techniques d'équilibration posturale et énergétique à destination des professionnels du corps
      médical. Les bases du test musculaire sont alors établies. En 1970, le Dr. John Thie puise dans la Kinésiologie
      Appliquée des techniques qu'il adapte à une utilisation plus large, en créant le « Touch For Health ».
    </p>
    <p>
      Il développe une série de tests musculaires permettant d'équilibrer l'ensemble des méridiens du corps pour
      optimiser le bien-être, la prévention des maladies et la libération des énergies naturelles de guérison.
    </p>

    <h3>Le Three In One Concepts® (One Brain®)</h3>
    <p>
      Fondé par Gordon Stokes, Daniel Whiteside et Candace Callaway, le « Three In One Concepts® » signifie
      l'intégration du corps, du mental et de l'esprit.
    </p>
    <p>
      Cette méthode libère les blocages physiques, émotionnels, énergétiques et les systèmes de croyances. Elle permet
      des prises de conscience en lien avec des évènements du passé. Un nouvel éclairage sur les causes de comportements
      ou mécanismes mis en place, et des outils pour s'en libérer permettent ainsi de retrouver sa capacité de choisir
      et d'ouvrir de nouveaux possibles.
    </p>

    <h3>L'Éducation Kinesthésique (Brain Gym®)</h3>
    <p>
      Mise au point par Paul Dennison, cette méthode se concentre sur l'amélioration des capacités d'apprentissage et
      de concentration. Il s'agit d'une approche simple et ludique fondée sur l'observation des mouvements du corps, la
      communication entre les hémisphères cérébraux et la coordination globale. Le Brain Gym est parfois utilisé en
      complément des méthodes éducatives (suivi scolaire, orthophonie, etc.). Il est également de plus en plus utilisé
      avec les adultes qui souhaitent améliorer leur concentration, créativité et acquisition de nouvelles
      connaissances.
    </p>

    <p>
      En plus de ces trois méthodes fondatrices, d'autres ont été développées telles que le Stress Release ou la
      Kinésiologie Périnatale.
    </p>

    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>
<section class="no-image">
  <h2>Déroulement d'une séance</h2>
  <div class="content">
    <p>
      Après un entretien, l'objectif de la séance est déterminé. Le kinésiologue instaure ensuite un dialogue
      avec le corps par le biais du test musculaire, et cherche les informations et les équilibrages dont la personne a
      besoin pour trouver ses solutions et avancer vers son objectif. En fonction de la technique, la personne est
      debout, assise ou allongée, toujours habillée. Elle est en interaction permanente avec le praticien, qui facilite
      le dialogue et la compréhension entre la personne et les informations données par son corps grâce au test
      musculaire.
    </p>

    <p>
      <em>
        Le kinésiologue est un « professionnel de la gestion du stress et de la prévention en matière de santé ».
        Il ne demande jamais de suspendre un traitement médical ni un suivi psychologique. Il encourage ses
        clients à consulter un médecin pour tout problème de santé. Il ne fait aucun diagnostic, traitement ou
        prescription.
      </em>
    </p>

    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>
