---
layout: main.html
name: Massage assis
tags: pages
order: 2
---


<section>
  <div class="image">
    <img src="/img/massage-1.jpg" alt="Pile de cailloux sur fond vert"/>
  </div>
  <div class="content">
    <p>
      Le massage Amma est une approche énergétique millénaire basée sur les principes des Médecines traditionnelles
      japonaise et chinoise. Le massage Amma assis, développé par David Palmer aux États-Unis en 1980, permet l'accès à
      tous à ce <strong>massage à la fois relaxant et énergisant, qui se pratique sans huile, habillé, sur une chaise
      ergonomique, en 20 minutes</strong>.
    </p>

    <p>
      Il s'agit d'un enchaînement de mouvements précis, techniques, composé de pressions, d'étirements, de percussions
      et de balayages. Ce massage court offre rapidement un état de relaxation, tout en étant dynamisant. Il stimule
      différents points d'acupression au niveau du dos, des bras, des mains, de la nuque et du crâne, apportant ainsi
      détente musculaire et activation de l'énergie.
    </p>

    <p>
      {% include "links/tarifs.html" %}&nbsp;&nbsp;&nbsp;{% include "links/contact.html" %}
    </p>
  </div>
</section>
