---
layout: main.html
name: Tarifs
tags: pages
order: 4
---

<section class="no-image">
  <h2>Séance de kinésiologie</h2>
  <div class="content">
    <p class="icon_text" style="color: white;">
      <svg x="0px" y="0px" viewBox="0 0 20 20">
        <g>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11,9.59V4c0-0.55-0.45-1-1-1S9,3.45,9,4v6c0,0.28,0.11,0.53,0.29,0.71l3,3C12.47,13.89,12.72,14,13,14c0.55,0,1-0.45,1-1c0-0.28-0.11-0.53-0.29-0.71L11,9.59z M10,0C4.48,0,0,4.48,0,10c0,5.52,4.48,10,10,10s10-4.48,10-10C20,4.48,15.52,0,10,0z M10,18c-4.42,0-8-3.58-8-8s3.58-8,8-8s8,3.58,8,8S14.42,18,10,18z"/>
        </g>
      </svg>
      Durée : de 1h15 à 1h30
    </p>

    <p>Adulte : 60€</p>
    <p>Enfant jusqu'à 15 ans : 50€</p>
    <p>
      <a href="/kinesiologie">En savoir plus</a>
    </p>
    <p>
      {% include "links/contact.html" %}
    </p>
  </div>
</section>

<section class="no-image">
  <h2>Séances de sophrologie</h2>

  <div class="content">
    <h3>Séances individuelles</h3>
    <p class="icon_text" style="color: white;">
      <svg x="0px" y="0px" viewBox="0 0 20 20">
        <g>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11,9.59V4c0-0.55-0.45-1-1-1S9,3.45,9,4v6c0,0.28,0.11,0.53,0.29,0.71l3,3C12.47,13.89,12.72,14,13,14c0.55,0,1-0.45,1-1c0-0.28-0.11-0.53-0.29-0.71L11,9.59z M10,0C4.48,0,0,4.48,0,10c0,5.52,4.48,10,10,10s10-4.48,10-10C20,4.48,15.52,0,10,0z M10,18c-4.42,0-8-3.58-8-8s3.58-8,8-8s8,3.58,8,8S14.42,18,10,18z"/>
        </g>
      </svg>
      Durée: 1h00
    </p>
    <p>Adulte : 50€</p>
    <p>Forfait 5 séances : 220€ (soit 44€/séance)</p>
    <p>Forfait 10 séances : 385€ (soit 38.50€/séance)</p>
    <p>Enfant jusqu'à 15 ans : 40€</p>

    <h3>Séance semi-collective(4 personnes maximum)</h3>
    <p class="icon_text" style="color: white;">
      <svg x="0px" y="0px" viewBox="0 0 20 20">
        <g>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11,9.59V4c0-0.55-0.45-1-1-1S9,3.45,9,4v6c0,0.28,0.11,0.53,0.29,0.71l3,3C12.47,13.89,12.72,14,13,14c0.55,0,1-0.45,1-1c0-0.28-0.11-0.53-0.29-0.71L11,9.59z M10,0C4.48,0,0,4.48,0,10c0,5.52,4.48,10,10,10s10-4.48,10-10C20,4.48,15.52,0,10,0z M10,18c-4.42,0-8-3.58-8-8s3.58-8,8-8s8,3.58,8,8S14.42,18,10,18z"/>
        </g>
      </svg>
      Durée: 1h10
    </p>
    <p>Paiement à la séance : 15€/séance</p>
    <p>Abonnement trimestriel : 78€ pour 6 séances (au lieu de 90€, soit 13€/séance)</p>
    <p>Abonnement annuel : 198€ pour 18 séances (au lieu de 270€, soit 11€/séance)</p>

    <p>
      <a href="/sophrologie">En savoir plus</a>
    </p>
    <p>
      {% include "links/contact.html" %}
    </p>
  </div>
</section>

<!--<section class="no-image">-->
<!--  <h2>« Pause émotionnelle » (20 minutes)</h2>-->
<!--  <div class="content">-->
<!--    <p>Adulte : 20€</p>-->
<!--    <p>Enchaînement précis de points neuro-vasculaires, la séance « Pause émotionnelle » libère les tensions mentales et-->
<!--      émotionnelles. Elle se pratique allongée et habillée. La stimulation des points d'équilibration situés-->
<!--      essentiellement sur le crâne est très douce et procure, en un minimum de temps, une profonde détente et une-->
<!--      meilleure clarté mentale afin d'avancer positivement vers vos objectifs.</p>  -->
<!--  </div>-->
<!--</section>-->

<section class="no-image">
  <h2>Massage Amma assis</h2>
  <div class="content">
    <p class="icon_text" style="color: white;">
      <svg x="0px" y="0px" viewBox="0 0 20 20">
        <g>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11,9.59V4c0-0.55-0.45-1-1-1S9,3.45,9,4v6c0,0.28,0.11,0.53,0.29,0.71l3,3C12.47,13.89,12.72,14,13,14c0.55,0,1-0.45,1-1c0-0.28-0.11-0.53-0.29-0.71L11,9.59z M10,0C4.48,0,0,4.48,0,10c0,5.52,4.48,10,10,10s10-4.48,10-10C20,4.48,15.52,0,10,0z M10,18c-4.42,0-8-3.58-8-8s3.58-8,8-8s8,3.58,8,8S14.42,18,10,18z"/>
        </g>
      </svg>
      Durée : 20 minutes
    </p>
    <p>Adulte : 20€</p>
    <p>
      <a href="/massage">En savoir plus</a>
    </p>
    <p>
      {% include "links/contact.html" %}
    </p>
  </div>
</section>
